
/* Initial variables */
:root {
  --z-back: -1;
  --z-normal: 1;
  --z-menu: 10;
  --z-modal: 100;
}

body {
  text-align: center;
}

.loader-spinner {
  position: absolute;
  top: 150px;
  left: 50vw;
}

/* User grid and card styles */
.user-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
}

.user-card {
  position: relative;
  padding: 1em;
  margin: 1em;
  background-image: linear-gradient(steelblue 40%, white 40%);
  box-shadow: 0 0 12px 0 gray;
  border-radius: 5px;
}

.user-card__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('https://cdn1.iconfinder.com/data/icons/user-outline-icons-set/144/User001_Edit-512.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.user-card__name {
  color: white;
}

.user-card__img {
  width: 30%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px white, 0 0 15px 3px grey;
}

.user-card__email,
.user-card__phone,
.user-card__location {
  color: #999;
}

/* Config panel styles */
.config-container {
  position: fixed;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  z-index: var(--z-modal);
  overflow-y: scroll;
}

.config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: max-content;
  max-height: 700px;
  background-color: white;
  padding: 1em;
  overflow-y: scroll;
}

.config__form {
  display: flex;
  flex-direction: column;
}

.config__exit {
  width: 100%;
  height: 30px;
  background-image: url('https://pics.freeicons.io/uploads/icons/png/4177409791543238955-512.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  cursor: pointer;
}

.config__input {
  margin-bottom: 1em;
}

@media screen and (min-width: 700px){
  .user-grid {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media screen and (min-width: 970px) {
  .user-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 3em;
  }

  .config-container {
    align-items: center;
  }
}